:root {
    --title-text-color: #212121;
    --body-color: #757575;
    --link-color: #2196F3;
}
.header {
    background-color: #FFFFFF;
}
.hero {
    background-color: #2F303A;
}
.list {
    list-style-type: none;
}   
.logo-blue {
    color: #2196F3;
}
.logo{
    color: #000000;
}
.header-site-nav .header-link {
    color: #212121;
}
.header-site-nav .header-link:hover,
.header-site-nav .header-link:focus {
    color: #2196F3;
}
.header-info-nav .header-info-link{
    color: #757575;
}
.header-info-nav .header-info-link:hover,
.header-info-nav .header-info-link:focus {
    color: #2196F3;
}

.header-site-nav .header-link.current {
    color: #2196F3;
}
.hero-title {
    color: #FFFFFF;
}
.team {
    background-color: #F5F4FA;
}
.features-title, 
.work-title, 
.team-title {
    color: #212121;
}
.title {
    color: #212121;
}
.button {
    color: #FFFFFF;
    background-color: #2196F3;    
}

body {
    background-color: #FFFFFF;
    color: #757575;
}
.footer {
    background-color: #2F303A;
}
.address-link {
    color: #FFFFFF;
}
.footer-info {
    color: rgba(255, 255, 255, 0.6);
}
.footer .address a:hover,
.footer .address a:focus {
    color: #2196F3;
}